<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="transactionsRecord">
            <h2><span jhiTranslate="jioTptApplicationApp.transactionsRecord.detail.title">Transactions Record</span> {{transactionsRecord.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="jioTptApplicationApp.transactionsRecord.txType">Tx Type</span></dt>
                <dd>
                    <span jhiTranslate="{{'jioTptApplicationApp.TransactionType.' + transactionsRecord.txType}}">{{transactionsRecord.txType}}</span>
                </dd>
                <dt><span jhiTranslate="jioTptApplicationApp.transactionsRecord.description">Description</span></dt>
                <dd>
                    <span>{{transactionsRecord.description}}</span>
                </dd>
                <dt><span jhiTranslate="jioTptApplicationApp.transactionsRecord.txAmmount">Tx Ammount</span></dt>
                <dd>
                    <span>{{transactionsRecord.txAmmount}}</span>
                </dd>
                <dt><span jhiTranslate="jioTptApplicationApp.transactionsRecord.txRefNo">Tx Ref No</span></dt>
                <dd>
                    <span>{{transactionsRecord.txRefNo}}</span>
                </dd>
                <dt><span jhiTranslate="jioTptApplicationApp.transactionsRecord.txCreatedBy">Tx Created By</span></dt>
                <dd>
                    <span>{{transactionsRecord.txCreatedBy}}</span>
                </dd>
                <dt><span jhiTranslate="jioTptApplicationApp.transactionsRecord.txCreatedDate">Tx Created Date</span></dt>
                <dd>
                    <span>{{transactionsRecord.txCreatedDate}}</span>
                </dd>
                <dt><span jhiTranslate="jioTptApplicationApp.transactionsRecord.txCompletedBy">Tx Completed By</span></dt>
                <dd>
                    <span>{{transactionsRecord.txCompletedBy}}</span>
                </dd>
                <dt><span jhiTranslate="jioTptApplicationApp.transactionsRecord.txCompletedDate">Tx Completed Date</span></dt>
                <dd>
                    <span>{{transactionsRecord.txCompletedDate}}</span>
                </dd>
                <dt><span jhiTranslate="jioTptApplicationApp.transactionsRecord.status">Status</span></dt>
                <dd>
                    <span jhiTranslate="{{'jioTptApplicationApp.TxStatus.' + transactionsRecord.status}}">{{transactionsRecord.status}}</span>
                </dd>
                <dt><span jhiTranslate="jioTptApplicationApp.transactionsRecord.txDoc">Tx Doc</span></dt>
                <dd>
                    <div *ngIf="transactionsRecord.txDoc">
                        <a (click)="openFile(transactionsRecord.txDocContentType!, transactionsRecord.txDoc)" jhiTranslate="entity.action.open">open</a>
                        {{transactionsRecord.txDocContentType}}, {{byteSize(transactionsRecord.txDoc)}}
                    </div>
                </dd>
                <dt><span jhiTranslate="jioTptApplicationApp.transactionsRecord.currency">Currency</span></dt>
                <dd>
                    <span jhiTranslate="{{'jioTptApplicationApp.CURRENCY.' + transactionsRecord.currency}}">{{transactionsRecord.currency}}</span>
                </dd>
                <dt><span jhiTranslate="jioTptApplicationApp.transactionsRecord.remarks">Remarks</span></dt>
                <dd>
                    <span>{{transactionsRecord.remarks}}</span>
                </dd>
                <dt><span jhiTranslate="jioTptApplicationApp.transactionsRecord.customer">Customer</span></dt>
                <dd>
                    <div *ngIf="transactionsRecord.customer">
                        <a [routerLink]="['/customer', transactionsRecord.customer?.id, 'view']">{{transactionsRecord.customer?.company}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="jioTptApplicationApp.transactionsRecord.customer">Customer</span></dt>
                <dd>
                    <div *ngIf="transactionsRecord.customer">
                        <a [routerLink]="['/accounts', transactionsRecord.customer?.id, 'view']">{{transactionsRecord.customer?.company}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/transactions-record', transactionsRecord.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
