<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="trip">
            <h2><span jhiTranslate="jioTptApplicationApp.trip.detail.title">Trip</span> {{trip.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="jioTptApplicationApp.trip.tripNumber">Trip Number</span></dt>
                <dd>
                    <span>{{trip.tripNumber}}</span>
                </dd>
                <dt><span jhiTranslate="jioTptApplicationApp.trip.description">Description</span></dt>
                <dd>
                    <span>{{trip.description}}</span>
                </dd>
                <dt><span jhiTranslate="jioTptApplicationApp.trip.shipmentNumber">Shipment Number</span></dt>
                <dd>
                    <span>{{trip.shipmentNumber}}</span>
                </dd>
                <dt><span jhiTranslate="jioTptApplicationApp.trip.bol">Bol</span></dt>
                <dd>
                    <span>{{trip.bol}}</span>
                </dd>
                <dt><span jhiTranslate="jioTptApplicationApp.trip.pickup">Pickup</span></dt>
                <dd>
                    <span>{{trip.pickup}}</span>
                </dd>
                <dt><span jhiTranslate="jioTptApplicationApp.trip.drop">Drop</span></dt>
                <dd>
                    <span>{{trip.drop}}</span>
                </dd>
                <dt><span jhiTranslate="jioTptApplicationApp.trip.pickupLocation">Pickup Location</span></dt>
                <dd>
                    <span>{{trip.pickupLocation}}</span>
                </dd>
                <dt><span jhiTranslate="jioTptApplicationApp.trip.dropLocation">Drop Location</span></dt>
                <dd>
                    <span>{{trip.dropLocation}}</span>
                </dd>
                <dt><span jhiTranslate="jioTptApplicationApp.trip.currentLocation">Current Location</span></dt>
                <dd>
                    <span>{{trip.currentLocation}}</span>
                </dd>
                <dt><span jhiTranslate="jioTptApplicationApp.trip.status">Status</span></dt>
                <dd>
                    <span jhiTranslate="{{'jioTptApplicationApp.StatusEnum.' + trip.status}}">{{trip.status}}</span>
                </dd>
                <dt><span jhiTranslate="jioTptApplicationApp.trip.detention">Detention</span></dt>
                <dd>
                    <span>{{trip.detention}}</span>
                </dd>
                <dt><span jhiTranslate="jioTptApplicationApp.trip.chasisInTime">Chasis In Time</span></dt>
                <dd>
                    <span>{{trip.chasisInTime}}</span>
                </dd>
                <dt><span jhiTranslate="jioTptApplicationApp.trip.pod">Pod</span></dt>
                <dd>
                    <div *ngIf="trip.pod">
                        <a (click)="openFile(trip.podContentType!, trip.pod)">
                            <img [src]="'data:' + trip.podContentType + ';base64,' + trip.pod" style="max-width: 100%;" alt="trip image"/>
                        </a>
                        {{trip.podContentType}}, {{byteSize(trip.pod)}}
                    </div>
                </dd>
                <dt><span jhiTranslate="jioTptApplicationApp.trip.hazmat">Hazmat</span></dt>
                <dd>
                    <span jhiTranslate="{{'jioTptApplicationApp.HAZMAT.' + trip.hazmat}}">{{trip.hazmat}}</span>
                </dd>
                <dt><span jhiTranslate="jioTptApplicationApp.trip.recievedBy">Recieved By</span></dt>
                <dd>
                    <span>{{trip.recievedBy}}</span>
                </dd>
                <dt><span jhiTranslate="jioTptApplicationApp.trip.coveredBy">Covered By</span></dt>
                <dd>
                    <span jhiTranslate="{{'jioTptApplicationApp.COVEREDBY.' + trip.coveredBy}}">{{trip.coveredBy}}</span>
                </dd>
                <dt><span jhiTranslate="jioTptApplicationApp.trip.loadType">Load Type</span></dt>
                <dd>
                    <span jhiTranslate="{{'jioTptApplicationApp.LoadType.' + trip.loadType}}">{{trip.loadType}}</span>
                </dd>
                <dt><span jhiTranslate="jioTptApplicationApp.trip.containerSize">Container Size</span></dt>
                <dd>
                    <span jhiTranslate="{{'jioTptApplicationApp.SizeEnum.' + trip.containerSize}}">{{trip.containerSize}}</span>
                </dd>
                <dt><span jhiTranslate="jioTptApplicationApp.trip.numbersOfContainer">Numbers Of Container</span></dt>
                <dd>
                    <span>{{trip.numbersOfContainer}}</span>
                </dd>
                <dt><span jhiTranslate="jioTptApplicationApp.trip.comments">Comments</span></dt>
                <dd>
                    <span>{{trip.comments}}</span>
                </dd>
                <dt><span jhiTranslate="jioTptApplicationApp.trip.pickupLocation">Pickup Location</span></dt>
                <dd>
                    <div *ngIf="trip.pickupLocation">
                        <a [routerLink]="['/location', trip.pickupLocation?.id, 'view']">{{trip.pickupLocation?.address}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="jioTptApplicationApp.trip.dropLocation">Drop Location</span></dt>
                <dd>
                    <div *ngIf="trip.dropLocation">
                        <a [routerLink]="['/location', trip.dropLocation?.id, 'view']">{{trip.dropLocation?.address}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="jioTptApplicationApp.trip.customer">Customer</span></dt>
                <dd>
                    <div *ngIf="trip.customer">
                        <a [routerLink]="['/customer', trip.customer?.id, 'view']">{{trip.customer?.email}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="jioTptApplicationApp.trip.driver">Driver</span></dt>
                <dd>
                    <div *ngIf="trip.driver">
                        <a [routerLink]="['/driver', trip.driver?.id, 'view']">{{trip.driver?.id}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="jioTptApplicationApp.trip.equipment">Equipment</span></dt>
                <dd>
                    <div *ngIf="trip.equipment">
                        <a [routerLink]="['/equipment', trip.equipment?.id, 'view']">{{trip.equipment?.id}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="jioTptApplicationApp.trip.ownerOperator">Owner Operator</span></dt>
                <dd>
                    <div *ngIf="trip.ownerOperator">
                        <a [routerLink]="['/owner-operator', trip.ownerOperator?.id, 'view']">{{trip.ownerOperator?.id}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/trip', trip.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
